#!/bin/bash

# Installing Dofus
if [ ! -f "/home/{{ .chezmoi.username }}/games/Dofus.AppImage" ]; then
    mkdir -p ~/games
    wget https://launcher.cdn.ankama.com/installers/production/Dofus%203.0-Setup-x86_64.AppImage -O ~/games/Dofus.AppImage
    chmod +x ~/games/Dofus.AppImage
fi
