exec-once = hyprctl setcursor Hackneyed {{ .cursor_size }}
exec-once = hyprpanel
exec-once = librewolf
exec-once = kitty
exec-once = youtube-music
exec-once = python ~/.config/hypr/scripts/post_start.py
